In [1]:
x = 3
while x < 11:
    if x%2==0:
        x = x-1
    else:
        x = x*2
    print(x)

6
5
10
9
18

In [6]:
3**(2-6)

0.012345679012345678

In [3]:
1/81

0.012345679012345678

In [9]:
import math as m

In [14]:
m.exp(m.inf)

inf

In [15]:
set = {3, 4, 2, 3, 1}
print(set)

{1, 2, 3, 4}

In [16]:
m.exp(-m.cos(m.pi/2))*m.sin(m.pi/2)

0.9999999999999999

In [17]:
dict1 = {"key":"A", "key2":2}
dict2 = {"key2":2, "key": "A"}
print(dict1==dict2)

True

In [18]:
print("Hello World"[:::-1])

SyntaxError: invalid syntax (1341753243.py, line 1)

In [19]:
2**3-3**2

-1

In [20]:
primes = [2, 3, 5, 7, 11, 13, 17, 19]
x = [i for i in primes[1:]] + [j for j in primes[:7]]
print(x)

[3, 5, 7, 11, 13, 17, 19, 2, 3, 5, 7, 11, 13, 17]

In [22]:
def func(x, y):
    if (x == 0):
        return y
    else:
        return func(x-1, x+y)
func(3, 8)

14

In [23]:
5*4*3*2

120

In [24]:
import pandas as pd

In [25]:
df = pd.DataFrame(data={"A": [10, 100], "Z": [20, 200]})
df

     A    Z
0   10   20
1  100  200

In [26]:
a = {"a":1, "b": 2, "c": 3}
type(a)

dict

In [27]:
(-2)**3

-8

In [28]:
8**2

64

In [29]:
64/4

16.0

In [30]:
7*6*5*4*3*2

5040

In [31]:
7*9

63

In [32]:
x = [1, [2]]
y = list(x)
x[0] = -1
x[1][0] = -1

In [33]:
x

[-1, [-1]]

In [34]:
y

[1, [-1]]